body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000; /* Black background */
}

.button-container {
  text-align: center;
}

#confirm-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #000000; /* Black button background */
  color: #FFFFFF; /* White text */
  border: 2px solid #FFFFFF; /* White border */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#confirm-button:hover {
  background-color: #333333; /* Slightly lighter black for hover effect */
}

#confirm-button.confirmation {
  background-color: #FF0000; /* Red background for confirmation state */
  color: #000000; /* White text for confirmation state */
  border: 2px solid #FF0000; /* Red border in confirmation state */
}
